.ContainerAU {
  position: relative;
  text-align: center;
  color: white;
}
.TextoCen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.TextoCen_2 {
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.infobgcolor{
  background-color: #640505;
  padding-top: 6.25rem;
  padding-bottom: 0.063rem;
  width: 100%;
}
.textheader{
  text-align: center;
  padding-top: 1.25rem;
}
.justifytext{
  text-align: justify;
}
.bordercontainer{
  border-radius: 40px;
  background-color: white;
  margin: 0px 10rem 6.25rem 10rem;
}
.marginspace{
  margin-bottom: 0px;
}
.centertext{
  padding: 0px 9.375rem 2rem 9.375rem;
}
.bannerP{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(assets/img/pexels-valeria-boltneva-1639562.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 30.25rem;
}
.bannerP_2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(assets/img/rest.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 30.25rem;
}
.scroller {
  height:300px;
  overflow-y: scroll;
}
.padbot{
  padding-bottom: 20px;
}